version: '3.8'

services:
  spreadsheet_client:
    build: 
      context: ./spreadsheet_client
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - ./spreadsheet_client:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
  spreadsheet_backend:
    build:
      context: ./spreadsheet_backend
    ports:
      - "5000:5000"
    volumes:
      - ./spreadsheet_backend:/app
    environment:
      - FLASK_APP=src/main.py
      - FLASK_ENV=development
    depends_on:
      - db
    networks:
      - app_network
  db:
    image: postgres:17.4-bookworm
    volumes:
      - type: volume
        source: db_data
        target: /var/lib/postgresql/data
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network
    ports:
      - "5432:5432"
  redis:
    image: redis:7.0.12-alpine
    ports:
      - "6379:6379"
volumes:
  db_data:

networks:
  app_network:
    driver: bridge
